[submodule "u-boot"]
	path = u-boot
	url = https://github.com/ProtopointLLC/bodybytes-u-boot.git
	branch = bodybytes
[submodule "openwrt"]
	path = openwrt
	url = https://github.com/ProtopointLLC/bodybytes-openwrt.git
	branch = bodybytes
