CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt76x8=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_ramips_mt76x8_DEVICE_bodybytes_bodybytes=y
CONFIG_TARGET_DEVICE_ramips_mt76x8_DEVICE_bodybytes_bodybytes_recovery=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_EMMC_SUPPORT=y
CONFIG_IMAGEOPT=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_MANUFACTURER="Bodybytes"
CONFIG_VERSION_MANUFACTURER_URL="https://github.com/ProtopointLLC/bodybytes-firmware"
CONFIG_VERSION_PRODUCT="Bodybytes"
CONFIG_SAMBA4_SERVER_AVAHI=y
